body {
	background-color: grey;
	margin: 0;
}

#container {
	height: 750px;
	width: 750px;
	margin: auto;
	overflow-y: auto;
	background-color: white;
}

#background.active {
	pointer-events: auto;
	opacity: 0.9;
}

#background {
	position: absolute;
	height: inherit;
	width: inherit;
	pointer-events: none;
	opacity: 0;
	background-color: black;
	transition: opacity 0.5s ease;
}

#overlays {
	position: absolute;
	height: 640px;
	width: 640px;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	/*pointer-events: none;*/
}

#image {
	opacity: 0;
	position: absolute;
	pointer-events: none;
}

#button {
	display: inline-block;
	/*position: absolute;*/
	height: 150px;
	width: 150px;
	background-color: pink;
}

.thumbnail {
	display: inline-block;
	height: 150px;
	width: 150px;
	/*margin: 5px;*/
}

#left:hover {
	cursor: w-resize;
}

#right:hover {
	cursor: e-resize;
}

#left, #right {
	display: inline-block;
	height: 640px;
	width: 320px;
};


