body {
	background-color: grey;
	margin: 0;
}

#container {
	height: 640px;
	width: 640px;
	margin: auto;
	padding: 10px;
	background-color: white;
}

#image {
	position: absolute;
	pointer-events: none;
}

.thumbnail {
	display: inline-block;
	height: 150px;
	width: 150px;
	margin: 5px;
}
