body {
	margin: 0;
	background-color: white;
}

#lightbox {
	/* center */
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	/* instagram styles */
/*	box-shadow: 0 1px 16px rgba(0, 0, 0, 0.1);
	border: 1px solid silver;
	border-radius: 3px;*/
}

#container {
	/*position: relative;*/
	overflow-y: auto;
	background-color: black;
}

#background.active {
	pointer-events: auto;
	opacity: 0.9;
}

#background {
	position: absolute;
	height: inherit;
	width: inherit;
	opacity: 0;
	background-color: black;
	transition: opacity 0.5s ease;
	pointer-events: none;
}

#overlays {
	/* center */
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

#image {
	position: absolute;
	pointer-events: none;
}

#bar {
	position: absolute;
	font-family: proxima-nova, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 600;
	font-size: 2em;
	/*letter-spacing: 1px;*/
	/*text-transform: uppercase;*/
	color: #FFFFFF;

	text-align: center;
	line-height: 0px;
	overflow: hidden;

	display: inline-block;
	height: 150px;
	width: inherit;
	background-color: rgb(39, 39, 39);
	transition: all 0.5s ease;
}

#bar:before {
	content: "close";
}

#bar:hover {
	cursor: pointer;
}

#button {
	font-family: proxima-nova, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 600;
	font-size: 2em;
	/*letter-spacing: 1px;*/
	/*text-transform: uppercase;*/
	color: #FFFFFF;

	text-align: center;
	line-height: 0px;
	overflow: hidden;

	display: inline-block;
	height: 150px;
	width: inherit;
	background-color: rgb(39, 39, 39);
	transition: all 0.5s ease;
}

#button:before {
	content: "get more";
}

#button:hover {
	cursor: s-resize;
}

.thumbnail {
	display: inline-block;
}

.thumbnail:hover {
	cursor: zoom-in;
}

#left:hover {
	cursor: w-resize;
}

#right:hover {
	cursor: e-resize;
}

#left, #right {
	display: inline-block;
};


